@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: normal;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

.step {
  cursor: pointer;
  text-align: center;
  flex: 1;
  position: relative;
}
.step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 16px;
  right: -50%;
  width: 100%;
  height: 2px;
  background-color: transparent;
  z-index: -1;
}
.step-content {
  transition: all 0.3s ease;
}

.input-label {
  color: #4d4d4d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.input-label span {
  color: #d80027;
}

.input-styles {
  max-width: 433px;
  height: auto;
  padding: 17px 17px;
  border-radius: 5.575px;
  border: 1.394px solid  #6b737a;
  outline: none;
  font-size: 20px;
  width: 100%;
}
